<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2DP3</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body style="background-color: #485043;">
    <!-- <body> -->
        <div class="fluid-container">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">2DP3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orginizers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- maybe make for each Orginizer, get the id and then siplay a info page for each  Orginizer-->
                            <a class="dropdown-item" href="#">Anthony Aquino-Lopez</a>
                            <a class="dropdown-item" href="#">Henok</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/started_projects">Started Projs<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/completed_projects">Completed Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/_projects">create new Project idea</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/logout">logout</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            <!-- main content  -->
            <div class="jumbotron vertical-center">
                <div class="container">
                    <div class="p-3">
                        <h1 id=main-title>2DP3</h1>
                    </div>
                    <div class="p-4">
                        <p id="slogan">Join, meet, and collaborate here to create your open source <i>Python</i> prototype and help others as well.</p>
                    </div>
                </div>    
            </div>
            <!-- about us -->
            <section class='hero-home'>
                <div class="fluid-container about-me">
                    <h1>About Us</h1>
                    <div class="col-lg-5 mx-auto">
                        <h3>
                            this is an open source group that invites people that code in python to come out, network and just
                            have a good time collaboration with others. We welcome all level excperienced coders, and recriuters. This group 
                            meets up every 2 weeks to work on projects. Bring your laptop, bring a friend, dont let this chance slither away.
                        </h3>
                    </div>
                </div>
                <!-- organizers info -->
                <div class="fluid-container white-bg">
                    <div class="d-flex justify-content-center">
                        <h2>Organizers</h2>
                    </div>
                    <div class="row ">
                        <!-- organizers cards -->
                        <div class="row">
                            <div class="col-lg-4 ml-5 mr-5 col-md-4 col-sm-6 mb-4 mx-auto hover-animate">
                                <div class="card shadow border-o h-100">
                                    <a href="#">
                                        <img src="{% static 'img/code2.jpg' %}" alt="one of the organizers" class="img-fluid card-img-top">
                                    </a>
                                    <div class="card-body">
                                        <a href="#" class="text-uppercase text-muted text-sm letter-spacing-2">co-Organizer name</a>
                                        <h5 class="my-2"></h5>
                                        <p class="my-2 text-muted text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                             Illo voluptatibus impedit nulla minima debitis, similique quis nam reiciendis?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ml-5 mr-5 col-md-4 col-sm-6 mb-4 mx-auto hover-animate">
                                <div class="card shadow border-o h-100">
                                    <a href="#">
                                        <img src="{% static 'img/code2.jpg' %}" alt="one of the organizers" class="img-fluid card-img-top">
                                    </a>
                                    <div class="card-body">
                                        <a href="#" class="text-uppercase text-muted text-sm letter-spacing-2">Co-Organizer name</a>
                                        <h5 class="my-2"></h5>
                                        <p class="my-2 text-muted text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                             Illo voluptatibus impedit nulla minima debitis, similique quis nam reiciendis?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ml-5 col-md-4 col-sm-6 col-sm-offset-3 mb-4 mx-auto hover-animate">
                                <div class="card shadow border-o h-100">
                                    <a href="#">
                                        <img src="{% static 'img/code2.jpg' %}" alt="one of the organizers" class="img-fluid card-img-top">
                                    </a>
                                    <div class="card-body ">
                                        <a href="#" class="text-uppercase text-muted text-sm letter-spacing-2">Anthony Aquino-Lopez</a>
                                        <h5 class="my-2"></h5>
                                        <p class="my-2 text-muted text-sm">Skater turned Full stack developer who loves to code in python.
                                             I graduated from coding dojo in 2019 and have been hacking since 2016!   
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- previous projects slider -->
            <div class="fluid-container text-center my-3 white-bg">
                <h3>Previous projects we have worked on</h3>
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item row no-gutters active">
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/900/fff?text=project 1"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/fb0/fff?text=project 2"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/ff0/fff?text=project 3"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/0f0/fff?text=project 4"></div>
                        </div>
                        <div class="carousel-item row no-gutters">
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/090/fff?text=project 5"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/00f/fff?text=project 6"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/808/fff?text=project 7"></div>
                            <div class="col-3 float-left"><img class="img-fluid" src="http://placehold.it/350x280/b0f/fff?text=project 8"></div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- did this by mistake but its basically just like a row of squares that look like cards half way off the bottom the the screen
                we could add some hover animation to it that gives them more height. This feature could be used to select the random project for the week
                have ppl log in and say they're present and send their name. for every person there, make a card-->
            <div class="container-fluid text-center" >
                <h2 id="select-card-label"> select a random Project</h2>
                <!-- no more than 4 cards on screen at once untill i find a way to give the cards specific heights for each window size  -->
                <div class="d-flex flex-nowrap selectable-cards" >
                    <!-- this is one selectable card with a slide up effect -->
                    {% for project in final_project_arr %}
                    <!-- <h1>{{project.id}}</h1> -->
                    <div class="card card-body select-card">
                            <div class="overlay">
                                <div class="text">
                                    <a class="card-img" href="/projects/{{card.id}}"><img src="{% static 'img/cardBackgroud.jpg' %}" alt=" snak edesign"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            <end card section -->
        </div>    
        <!-- bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>